<article id="chart" class="chart">
 <div id="header-chart" class="header-chart">Header</div>
 <div id="content-chart" class="content-chart">Content</div>
 <div id="footer-chart" class="footer-chart">Footer</div>   
</article>